.panel
    border: 1px solid rgba(142, 34, 22, 0.36)
    box-sizing: border-box
    padding: 35px

    input
        border: 1px solid rgba(142,34,22,.36)
        margin-bottom: 15px
        padding: 10px
        background-color: #fff
        z-index: 2

.panel-default>.panel-heading
    border: none
    background-color: initial
    font-weight: 700

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th
    border: 1px solid rgba(142,34,22,.36)

.fa-times-circle:before
    color: red

#custom-cart a
    color: #000

.agree
    color: rgba(142,34,22,.36)

.alert-info 
    color: #000000
    background-color: #ffffff
    border-color: rgba(142,34,22,.36)

button.btn.btn-danger 
    border: 1px solid #8e2216

button.btn.btn-danger:hover 
    background: none
    background-color: white
    box-shadow: 0px 0 3px 2px rgba(0, 0, 0, .15)

a.btn.btn-primary 
    border: 1px solid #8e2216
    color: #8e2216
    background-color: #fff

a.btn.btn-primary:hover
    background-color: #fff
    border: 1px solid #8e2216
    color: #000

@media screen and (max-width: 767px)
    .table-responsive
        border: 1px solid rgba(142,34,22,.36)