.event-card
    margin-bottom: 30px
    display: flex
    width: 100%
    @include media-breakpoint-down(md)
        flex-direction: column
    
.event-image
    display: block
    height: 100%
    width: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @include media-breakpoint-down(md)
        margin-bottom: 15px
        min-height: 300px

h2 a
    color: #000
    &:hover
        text-decoration: none
        color: #000