.product-page
    margin-top: 80px
    
.product-carousel-for
    padding: 40px
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.03)
    img
        display: block
        margin: auto
        height: 100%
        width: auto     

.product-carousel-nav
    margin-top: 10px
    &_item
        padding: 15px
        height: 100px
        border: 1px solid #EEEEEE
        img
            display: block
            margin: auto
            height: 100%
            width: auto
    .slick-slide
        margin: 0 5px

.product-card-content
    padding-left: 40px
    margin-left: 40px
    border-left: 1px solid #ABABAB
    @include media-breakpoint-down(md)
        margin: 0
        padding: 0
        border: none
        margin-top: 30px
    h1
        font-size: 35px
        font-weight: 500
        margin-bottom: 15px
        margin-top: 0
        text-align: left
        text-transform: none
    p
        margin-bottom: 5px

.value-block
    display: flex
    margin: 20px 0

.options
    margin-left: 35px

.amount
    &_block
        display: flex
        align-items: center
    &_input
        width: 40px
        height: 40px
        margin: 0 15px
        border: 1px solid #ABABAB
        text-align: center
        border-radius: inherit
    &_ctrl
        cursor: pointer
        font-size: 20px
        color: #000

.small-title
    display: block
    font-size: 12px
    text-transform: uppercase
    color: #ababab
    margin-bottom: 7px
    text-align: center
    &_left
        text-align: left

.options .form-group .control-label 
    display: none

.options select.form-control 
    width: 140px
    height: 40px
    border: 1px solid #ababab
    font-size: 12px
    border-radius: inherit

.select-block
    position: relative
    width: 115px
    height: 40px
    border: 1px solid #ABABAB
    padding-left: 20px
    padding-top: 7px
    overflow: hidden
    &_icon
        position: absolute
        top: 7px
        right: 15%
    select
        width: 130%
        box-shadow: none
        border: none
        position: relative
        background: none
        &::after
            content: ''
            position: absolute
            top: 0
            right: 40%

.price
    color: $accent
    font-size: 25px
    font-weight: 700
    display: block
    &__ul
        margin: 20px 0 25px
    &__low
        color: $accent
        font-size: 15px
        font-weight: 400
        margin: 5px 0
        display: block

.swiper-slider
    position: relative
    
.swiper-container 
    width: 100%
    
.swiper-slide 
    text-align: center
    font-size: 18px
    background: #fff
    /* Center slide text vertically */
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center
    

.swiper-slide img 
    display: block
    width: 100%
    object-fit: cover
    

.swiper-container 
    width: 100%
    margin-left: auto
    margin-right: auto
    

.swiper-slide 
    background-size: cover
    background-position: center
    

.mySwiper2 
    width: 100%
    

.mySwiper 
    height: fit-content
    box-sizing: border-box
    padding: 10px 0
    

.mySwiper .swiper-slide 
    width: 30%
    opacity: 0.6
    

.mySwiper .swiper-slide-thumb-active 
    opacity: 1
    

.swiper-slide img 
    display: block
    width: 100%
    max-width: 350px
    object-fit: cover

.swiper-slide-home img
    max-width: none

.swiper-pager .swiper-button-next:after, .swiper-pager .swiper-button-prev:after
    display: none
    
.btn-add
    margin-right: 20px
    margin-bottom: 20px
    vertical-align: top

#button-cart
    display: inline-block

.alert-success 
    display: inline-block
    color: #000000
    background-color: #ffffff47
    border-color: #d0d0d0
    box-shadow: 4px 4px 20px 8px rgba(103, 103, 103, 0.1)
    text-align: center
    font-size: 12px
    padding: 14px
    a
        color: #000

button.close
    display: block
    border-radius: 50px
    border: 1px solid #8e2216
    font-size: 11px
    font-weight: 400
    text-align: center
    margin: 0 auto
    padding: 8px
    margin-top: 10px

.alert-dismissible .close
    float: inherit
    opacity: 1
    top: 0
    right: 0