{% if languages|length > 1 %}
  <ul class="lang">
    {% for language in languages %}
    <li>
      <button type="button" name="{{ language.code }}">{{ language.name }}</button>
    </li>
    {% endfor %}
  </ul>
{% endif %}
